@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900');

.img-cart {
    width: 48px;
    height: 48px;
}

#content-frame {
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    border-style: none;
}

.bbb_advs {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px
}

.bbb_adv {
    min-width: 100%;
    height: 200px;
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1)
}

.bbb_adv_content {
    padding-left: 5px;
    padding-right: 5px;
}

.bbb_adv_subtitle {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 26px
}

.bbb_adv_title a {
    font-size: 18px;
    font-weight: 500;
    color: #000000
}

.bbb_adv_title a:hover {
    color: #0e8ce4
}

.bbb_adv_title_2 a {
    font-size: 18px;
    font-weight: 500;
    color: #0e8ce4
}

.bbb_adv_title_2 a:hover {
    opacity: 0.8
}

.bbb_adv_text {
    color: #828282;
    margin-top: 10px;
    font-size: 12px
}

.bbb_adv_image {
    width: 178px;
    height: 100%
}

.bbb_adv_image img {
    display: block;
    max-width: 100%
}

.carousel .carousel-inner .carousel-item img {
    height: 400px;
}

@media all and (max-width: 480px) {
    .carousel .carousel-inner .carousel-item img {
        height: 250px;
    }

    .bbb_adv_image {
        width: 120px;
        height: 100%
    }
}

body {
    overflow: auto;
}
