.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}


.nav-tabs .nav-link.active {
    background-color: #0275d8;
    color: white;
}

@media all and (max-width:480px) {
   .btn-sm-block { width: 100%; display:block; }
}

html {
  font-size: 1rem;
}