{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Informe de venta externa</title>
    <style>
        * {
            font-size: 16px;
        }

        h1, h2, h3 {
            display: inline;
        }

        .tg {
            border-collapse: collapse;
            border-spacing: 0;
            margin: 0px auto;
        }

        .tg td {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-size: 16px;
            overflow: hidden;
            padding: 5px 5px;
            word-break: normal;
            text-align: center;

        }

        .tg th {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-size: 16px;
            font-weight: normal;
            overflow: hidden;
            padding: 5px 5px;
            word-break: normal;
            font-weight: bold;
        }

        .tg {
            border-color: inherit;
            text-align: left;
            vertical-align: top
        }

        .logo {
            text-align: center;
        }
    </style>
</head>
<body>


<div class="proceso_venta">
    <table>
        <tr>
            <td align="left" rowspan="5">
                <!-- RUTA COMPLETA DEVELOPMENT -->
                <img src="https://mconejeros.pythonanywhere.com/static/images/logo.png" height="150px"
                     class="logo">

                <!-- RUTA COMPLETA PRODUCTION -->
                <!-- <img src="C:/Users/jorge/Desktop/GitLab/feriavirtual/app/static/images/logo.png" height="150px"
                     class="logo"> -->
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <h2>Proceso de venta #{{ proceso_venta.pk }}</h2>
                <br><br>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h3>Fecha de creación: </h3>{{ proceso_venta.fecha_creacion }}</td>
        </tr>

        <tr>
            <td colspan="2">
                <h3>Fecha de término: </h3>{{ proceso_venta.fecha_termino }}</td>
        </tr>

        <tr>
            <td colspan="2">
                <h3>Estado: </h3>{{ proceso_venta.estado_proceso }}</td>
        </tr>
    </table>
</div>

<br><br>
<div class="orden_compra">
    <h2>Solicitud de compra #{{ proceso_venta.solicitud_compra.pk }}</h2>
    <br><br>
    <h3>
        Cliente: {{ proceso_venta.solicitud_compra.cliente_externo.user.first_name|title }} {{ proceso_venta.solicitud_compra.cliente_externo.user.last_name|title }}</h3>
    <br><br>

    <table class="tg">
        <thead>
        <tr>
            <th>Producto</th>
            <th>Calidad requerida</th>
            <th>Cantidad (kg)</th>
            <th>Imagen de referencia</th>
        </tr>
        </thead>
        <tbody>
        {% for producto in productos_requeridos %}
            <tr>
                <td>
                    {{ producto.producto.nombre_producto }}
                </td>
                <td>
                    {% if producto.calidad == 1 %}
                        Alta
                    {% elif producto.calidad == 2 %}
                        Media
                    {% elif producto.calidad == 3 %}
                        Baja
                    {% endif %}
                </td>
                <td>{{ producto.cantidad }}</td>
                <td>
                    <img src="{{ producto.producto.imagen_producto.path }}" height="100px">
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


<br><br>

<div class="productores">

    <h2>Productores</h2>
    <br><br>

    {% if envios_productores %}

        <table class="tg">
            <thead>
            <tr>
                <th>Productor</th>
                <th>Producto</th>
                <th>Calidad requerida</th>
                <th>Cantidad (kg)</th>
                <th>Precio</th>
            </tr>
            </thead>
        </table>

        {% for envio in envios_productores %}
            <table class="tg">
                <tbody>
                <tr>
                    <td>
                        {{ envio.productor.user.first_name|title }} {{ envio.productor.user.last_name|title }}
                    </td>
                    <td>
                        {{ envio.producto.nombre_producto }}
                    </td>
                    <td>
                        {% if envio.calidad == 1 %}
                            Alta
                        {% elif envio.calidad == 2 %}
                            Media
                        {% elif envio.calidad == 3 %}
                            Baja
                        {% endif %}
                    </td>
                    <td>{{ envio.cantidad }}</td>
                    <td>${{ envio.precio_unitario|intcomma }}</td>
                </tr>
                </tbody>
            </table>
        {% endfor %}

    {% else %}
        AUN NO SE ASIGNAN PRODUCTORES
    {% endif %}
</div>

<br><br>

<div class="transportista">
    {% if proceso_venta.transportista != None %}
        <h2>Transportista #{{ proceso_venta.transportista.user.pk }}</h2>
        <br><br>
        Nombre: {{ proceso_venta.transportista.user.first_name|title }}
        {{ proceso_venta.transportista.user.last_name|title }}
        <br>
        Email: {{ proceso_venta.transportista.user.email }}
    {% else %}
        <h2>Transportista</h2>
        <br><br>
        AUN NO SE ASIGNA TRANSPORTISTA
    {% endif %}
</div>

</body>
</html>