{% load static %}

<!doctype html>
<html class="no-js" lang="es">
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""><![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""><![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""><![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Feria Virtual</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/selectFX/css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/jqvmap/dist/jqvmap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style_home.css' %}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <base href="{% url 'index' %}" target="_PARENT">
</head>

<body>

<!-- Header-->
<div id="right-panel" class="right-panel">
    <header id="header" class="header">
        <div class="header-menu">
            <div class="col-12">
                <div class="float-right pl-2">
                    {% if user.is_authenticated %}
                        <i class="fa fa-user" style="color: slategrey"></i>
                        <p class="text-capitalize d-inline h6 mr-xl-5 p-1">
                            {% if user.is_staff %}
                                Bienvenido Administrador
                            {% elif user.user_type == 2 %}
                                Bienvenido Comerciante
                            {% else %}
                                Bienvenido {{ user.get_user_type_display | lower }}
                            {% endif %}
                        </p>
                        <a class="btn btn-link btn-sm p-1" href="{% url 'log_out' %}" style="color: red"><i
                                class="fa fa-close mx-2" style="color: red"></i>Cerrar sesión</a>
                    {% else %}
                        <a class="btn btn-primary btn-sm p-1" href="{% url 'sign_up' %}">Registrarte</a>
                        <a class="btn btn-success btn-sm p-1" href="{% url 'log_in' %}">Iniciar Sesion</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>


    <div style="max-width: 80%; margin: auto">
        <br>
        <!-- Title -->
        <h1 class="display-4">Tu Compra está lista <span class="badge badge-success"
                                                         id="ocnumber">{{ order.order_id }}</span></h1>
        <p class="lead">Gracias {{ order.user_id.first_name }} {{ order.user_id.last_name }}</p>
        <br>

        <!-- Products -->
        <h1 class="h1"><i class="fa fa-shopping-basket" style="color: lightgrey"></i> Productos</h1>
        <br>
        <div class="card-columns">
            {% for p in products %}
                <div class="card">
                    <img class="card-img-top" src="{% get_media_prefix %}{{ p.product_id.imagen_producto }}"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ p.product_id.nombre_producto }}</h5>
                        <p class="card-text">{{ p.quantity }} {{ p.unidad }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Despacho -->
        <br>
        <h1 class="h1"><i class="fa fa-truck" style="color: lightgrey"></i> Despacho</h1>
        <br>
        <div class="card w-100">
            <div class="card-body">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="card-title">{{ order.address_id.street }} #{{ order.address_id.number }}</h5>
                </div>
                <p class="card-text">{{ order.address_id.region }}, {{ order.address_id.comuna }}</p>
            </div>
        </div>

        <!-- Pago -->
        <br>
        <h1 class="h1"><i class="fa fa-credit-card" style="color: lightgrey"></i> Detalles</h1>
        <br>
        <div class="card-columns">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">{{ order.payment_id.description }}</div>
                <div class="card-body">
                    <p class="card-text">
                        {% if order.payment_id.description == 'WebPay' %}
                            <img src="{% static 'images/wp.png' %}">
                        {% else %}
                            <img src="{% static 'images/kp.jpg' %}">
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">Total</div>
                <ul class="list-group list-group-flush">
                    {% for p in products %}
                        <li class="list-group-item">{{ p.product_id.nombre_producto }} ${{ p.price }}</li>
                    {% endfor %}
                    <li class="list-group-item list-group-item-success">Total: ${{ total }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendors/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'vendors/jqvmap/dist/jquery.vmap.min.js' %}"></script>
<script src="{% static 'vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
<script src="{% static 'vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>

<script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap-select.js' %}"></script>

</body>
</html>
