{% load static %}

<!doctype html>

<html class="no-js" lang="es">
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="">
<![endif]-->

<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="">
<![endif]-->

<!--[if IE 8]>
<html class="no-js lt-ie9" lang="">
<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Feria Virtual</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/selectFX/css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/jqvmap/dist/jqvmap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style_home.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
</head>

<body>
<!-- Left Panel -->
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu"
                    aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <br/>
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'images/logo.png' %}" alt="Logo">
            </a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <!-- Cliente Interno -->
                <li class="active">
                    <a href="{% url 'products' %}"><i
                            class="menu-icon fa fa-money"></i>Tienda</a>
                    {% if user.is_authenticated %}
                        <div id="auth"></div>
                        <li>
                        <a href="{% url 'my_orders' %}"><i
                                class="menu-icon fa fa-usd"></i>Mis Compras</a>
                        </li>
                        <li>
                        <a href="{% url 'my_address' %}"><i
                                class="menu-icon fa fa-map-pin"></i>Mis Direcciones</a>
                        </li>
                    {% endif %}
                </li>
                <hr>

                <!-- Admin -->
                {% if user.is_staff %}
                    <li>
                        <a href="{% url 'procesos_admin' %}"><i
                                class="menu-icon fa fa-list"></i>Procesos de venta</a>
                    </li>
                    <li>
                        <a href="{% url 'mantenedor' %}"><i
                                class="menu-icon fa fa-cogs"></i>Mantenedor</a>
                    </li>
                    <li>
                        <a href="{% url 'mantenedor_solicitudes_compra' %}">
                            <i class="menu-icon fa fa-money"></i>
                            Solicitudes de compras
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'crear_subasta' %}"><i
                                class="menu-icon fa fa-legal"></i>Subastas de despacho</a>
                    </li>
                    <li>
                        <a href="{% url 'reportes_admin' %}"> <i class="menu-icon fa fa-book"></i>Reportes</a>
                    </li>
                    <hr>
                {% endif %}

                <!-- Cliente Externo -->
                {% if user.user_type == 1 %}
                    <li>
                        <a href="{% url 'mis_solicitudes_de_compra' %}"><i
                                class="menu-icon fa fa-shopping-cart"></i>Solicitudes de Compra</a>
                    </li>
                    <li>
                        <a href="{% url 'cliente_externo_mis_procesos_venta' %}"><i
                                class="menu-icon fa fa-cogs"></i>Estado de Procesos</a>
                    </li>
                    <hr>
                {% endif %}

                <!-- Transportista -->
                {% if user.user_type == 3 %}
                    <li>
                        <a href="{% url 'subastas_transportista' %}"><i
                                class="menu-icon fa fa-pencil-square-o"></i>Subastas de despacho</a>
                    </li>
                    <li>
                        <a href="{% url 'subastas_ganadas_transportista' %}"><i class="menu-icon fa fa-star"></i>Subastas
                            ganadas</a>
                    </li>
                    <hr>
                {% endif %}

                <!-- Consultor -->
                {% if user.user_type == 4 %}
                    <li>
                        <a href="#"><i class="menu-icon fa fa-book"></i>Reportes</a>
                    </li>
                    <hr>
                {% endif %}

                <!-- Productor -->
                {% if user.user_type == 5 %}
                    <li>
                        <a href="{% url 'mis_productos' %}">
                            <i class="menu-icon fa fa-list-ul"></i>
                            Mis Productos
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'postular' %}">
                            <i class="menu-icon fa fa-pencil-square-o"></i>Postular</a>
                    </li>
                    <li>
                        <a href="{% url 'productor_mis_procesos_venta' %}"><i class="menu-icon fa fa-book"></i>Mis
                            ventas</a>
                    </li>
                {% endif %}
                {% if user.user_type == 1 or user.user_type == 3 or user.user_type == 4 or user.user_type == 5 or user.is_staff %}
                    <li>
                        <a href="{% url 'venta_interna' %}">
                            <i class="menu-icon fa fa-money"></i>
                            Mis ventas Internas
                        </a>
                    </li>
                    <hr>
                {% endif %}
            </ul>
        </div>
    </nav>
</aside>

<!-- Right Panel -->
<iframe src="#" id="content-frame"></iframe>

<!-- Scripts -->
<script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendors/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script>
    if (window.frameElement) {
        window.frameElement.src = window.location.href + 'frame';
    } else {
        document.getElementById('content-frame').src = window.location.href + 'frame'
    }
</script>
</body>
</html>
