{% load static %}

<!doctype html>
<html class="no-js" lang="es">
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""><![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""><![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""><![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Feria Virtual</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/selectFX/css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/jqvmap/dist/jqvmap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style_home.css' %}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <base href="{% url 'index' %}" target="_PARENT">
</head>

<body>
<!-- Right Panel -->
<div id="right-panel" class="right-panel">
    <!-- Header-->
    <header id="header" class="header">
        <div class="header-menu">
            <div class="col-12">
                <div class="float-right">
                    {% if user.is_authenticated %}
                        <i class="fa fa-user" style="color: slategrey"></i>
                        <p class="text-capitalize d-inline h6 mr-xl-5 p-1">
                            {% if user.is_staff %}
                                Bienvenido Administrador
                            {% elif user.user_type == 2 %}
                                Bienvenido Comerciante
                            {% else %}
                                Bienvenido {{ user.get_user_type_display | lower }}
                            {% endif %}
                        </p>

                        <a class="btn btn-link btn-sm p-1" href="{% url 'log_out' %}" style="color: red" id="log_out"><i
                                class="fa fa-close mx-2" style="color: red"></i>Cerrar sesión</a>
                    {% else %}
                        <a class="btn btn-primary btn-sm p-1" href="{% url 'sign_up' %}">Registrarte</a>
                        <a class="btn btn-success btn-sm p-1" href="{% url 'log_in' %}">Iniciar Sesion</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    <!-- Header-->


    <div class="content mt-3">
        <!-- Messages -->
        {% if messages %}
            <div class="row">
                <div class="col-12">
                    {% for message in messages %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>{{ message }}</strong>
                            <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <!-- Messages -->

        <!-- Carousel -->
        <div id="carouselHome" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="{% static 'images/vegetables2.jpg' %}" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{% static 'images/vegetables-1212845_1920.jpg' %}"
                         alt="Second slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselHome" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselHome" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!-- Carousel -->

        <!-- Products -->
        <div class="bbb_advs">
            <div class="row">

                <div class="col-12 col-lg-6 bbb_adv_col">
                    <!-- bbb_adv Item -->
                    <div class="bbb_adv d-flex flex-row align-items-center justify-content-start">
                        <div class="">
                            <div class="bbb_adv_image"><img
                                    src="media/tomate.png"
                                    alt=""></div>
                        </div>
                        <div class="bbb_adv_content">
                            <div class="bbb_adv_title_2"><a href="#">Tomates</a></div>
                            <div class="bbb_adv_text">$$$$</div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 bbb_adv_col">
                    <!-- bbb_adv Item -->
                    <div class="bbb_adv d-flex flex-row align-items-center justify-content-start">
                        <div class="">
                            <div class="bbb_adv_image"><img
                                    src="media/porotos.png"
                                    alt=""></div>
                        </div>
                        <div class="bbb_adv_content">
                            <div class="bbb_adv_title_2"><a href="#">Porotos verdes</a></div>
                            <div class="bbb_adv_text">$$$$</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 bbb_adv_col">
                    <!-- bbb_adv Item -->
                    <div class="bbb_adv d-flex flex-row align-items-center justify-content-start">
                        <div class="">
                            <div class="bbb_adv_image"><img src="media/pimenton.png" alt=""></div>
                        </div>
                        <div class="bbb_adv_content">
                            <div class="bbb_adv_title_2"><a href="#">Pimentónes</a></div>
                            <div class="bbb_adv_text">$$$$</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 bbb_adv_col">
                    <!-- bbb_adv Item -->
                    <div class="bbb_adv d-flex flex-row align-items-center justify-content-start">
                        <div class="">
                            <div class="bbb_adv_image"><img
                                    src="media/zanahoria.png"
                                    alt=""></div>
                        </div>
                        <div class="bbb_adv_content">
                            <div class="bbb_adv_title_2"><a href="#">Zanahoria</a></div>
                            <div class="bbb_adv_text">$$$$</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Products -->


    </div>
</div>

<!-- Scripts -->
<script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendors/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'vendors/jqvmap/dist/jquery.vmap.min.js' %}"></script>
<script src="{% static 'vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
<script src="{% static 'vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('{% url "sw.js" %}', {scope: '/'}).then(function (reg) {
            // registration worked
            console.log('Registration succeeded. Scope is ' + reg.scope);
        }).catch(function (error) {
            // registration failed
            console.log('Registration failed with ' + error);
        });
    }
</script>
{% if user.is_authenticated %}
    {% if not messages %}
        <script>
            if (window.parent.document.getElementById('auth') === null && document.getElementById('log_out') !== null) {
                window.parent.location.reload();
            }
        </script>
    {% endif %}
{% endif %}
</body>
</html>
