{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}">
    <title>Cerrar sesión</title>
    <base href="{% url 'index' %}" target="_PARENT">
</head>
<body>
<h1 class="m-3">Gracias por su visita</h1>
<h4 class="m-3">Será redireccionado en breves momentos...</h4>
</body>

<script src={% static 'vendors/jquery/dist/jquery.min.js' %}></script>
<script src={% static 'vendors/popper.js/dist/umd/popper.min.js' %}></script>
<script src={% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}></script>
<script>
    setTimeout(() => {
        window.top.location.href = "{% url 'index' %}"
    }, 2000);
</script>
</html>