{% load static %}
<!doctype html>
<html class="no-js" lang="es">
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""><![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""><![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""><![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Feria Virtual</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="apple-touch-icon" href="{% static 'images/apple-icon.png' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/selectFX/css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/jqvmap/dist/jqvmap.min.css' %}">

    <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-select.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style_mis_solicitudes_de_compra.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <base href="{% url 'index' %}" target="_PARENT">
</head>

<body>

<!-- Right Panel -->
<div id="right-panel" class="right-panel">
    <!-- Header-->
    <header id="header" class="header">
        <div class="header-menu">
            <div class="col-12 my-2">
                <div class="float-right">
                    {% if user.is_authenticated %}
                        <i class="fa fa-user" style="color: slategrey"></i>
                        <p class="text-capitalize d-inline h6 mr-xl-5 p-1">
                            {% if user.is_staff %}
                                Bienvenido Administrador
                            {% elif user.user_type == 2 %}
                                Bienvenido Comerciante
                            {% else %}
                                Bienvenido {{ user.get_user_type_display | lower }}
                            {% endif %}
                        </p>
                        <a class="btn btn-link btn-sm p-1" href="{% url 'log_out' %}" style="color: red"><i
                                class="fa fa-close mx-2" style="color: red"></i>Cerrar sesión</a>
                    {% else %}
                        <a class="btn btn-primary btn-sm p-1" href="{% url 'sign_up' %}">Registrarte</a>
                        <a class="btn btn-success btn-sm p-1" href="{% url 'log_in' %}">Iniciar Sesion</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <div class="content mt-2 p-2">
        <div class="mensajes">

        </div>
        {% if messages %}
            <div class="row">
                <div class="col-12">
                    {% for message in messages %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>{{ message }}</strong>
                            <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="card">
            <div class="card-header">
                <h4 class="text-center">Solicitudes de compras</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="table_solicitudes_de_compra"
                           class="table table-bordered text-center display"
                           style="width:100%">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal_detalle_solicitud_compra" tabindex="-1" role="dialog"
             aria-labelledby="modal_detalle_solicitud_compra_label"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="modal_detalle_solicitud_compra_label">Detalle de solicitud <span
                                id="id_solicitud_mostrar_modal"></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form action="" method="post" novalidate="novalidate" name="form_proceso_venta"
                          id="form_proceso_venta">
                        <div class="modal-body">
                            <div class="row form-group">
                                <div class="col-12">
                                    <label for="id_cliente_solicitud"
                                           class="control-label mb-1">Solicitado por:</label>
                                    <input type="text" name="cliente_solicitud"
                                           class="textinput textInput form-control text-capitalize bg-white"
                                           id="id_cliente_solicitud" disabled>
                                    <input type="hidden" name="cliente_externo" id="cliente_externo">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-12 col-sm-6">
                                    <label for="id_fecha_solicitud"
                                           class="control-label mb-1">Fecha:</label>
                                    <input type="text" name="fecha_solicitud"
                                           class="textinput textInput form-control bg-white"
                                           id="id_fecha_solicitud" disabled>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label for="id_estado_solicitud"
                                           class="control-label mb-1">Estado:</label>
                                    <input type="text" name="estado_solicitud"
                                           class="textinput textInput form-control bg-white"
                                           id="id_estado_solicitud" disabled>
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table id="table_detalle_solicitud_de_compra"
                                       class="table table-bordered text-center display"
                                       style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Producto</th>
                                        <th>Cantidad</th>
                                        <th>Calidad</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>

                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-danger" data-dismiss="modal">Rechazar solicitud <i
                                    class="fa fa-close"></i></button>
                            <button type="submit" class="btn btn-success">Aprobar solicitud <i class="fa fa-check"></i>
                            </button>

                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Right Panel -->
<!-- .animated -->


<script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendors/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'vendors/jqvmap/dist/jquery.vmap.min.js' %}"></script>
<script src="{% static 'vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
<script src="{% static 'vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>

<script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'assets/js/admin_solicitudes_de_compra.js' %}"></script>
</body>

</html>