{% load static %}

<!doctype html>
<html class="no-js" lang="es">
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""><![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""><![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""><![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Feria Virtual</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/selectFX/css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/jqvmap/dist/jqvmap.min.css' %}">

    <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}">


    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style_mantenedor.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <base href="{% url 'index' %}" target="_PARENT">
</head>

<body>

<!-- Right Panel -->
<div id="right-panel" class="right-panel">
    <!-- Header-->
    <header id="header" class="header">
        <div class="header-menu">
            <div class="col-12 my-2">
                <div class="float-right">
                    {% if user.is_authenticated %}
                        <i class="fa fa-user" style="color: slategrey"></i>
                        <p class="text-capitalize d-inline h6 mr-xl-5 p-1">
                            {% if user.is_staff %}
                                Bienvenido Administrador
                            {% elif user.user_type == 2 %}
                                Bienvenido Comerciante
                            {% else %}
                                Bienvenido {{ user.get_user_type_display | lower }}
                            {% endif %}
                        </p>
                        <a class="btn btn-link btn-sm p-1" href="{% url 'log_out' %}" style="color: red"><i
                                class="fa fa-close mx-2" style="color: red"></i>Cerrar sesión</a>
                    {% else %}
                        <a class="btn btn-primary btn-sm p-1" href="{% url 'sign_up' %}">Registrarte</a>
                        <a class="btn btn-success btn-sm p-1" href="{% url 'log_in' %}">Iniciar Sesion</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <div class="content mt-2 p-2">
        <div class="mensajes">

        </div>
        {% if messages %}
            <div class="row">
                <div class="col-12">
                    {% for message in messages %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>{{ message }}</strong>
                            <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="col-12 p-2">

            <!--AGREGAR USUARIO-->
            <button type="button" class="btn btn-success btn-sm-block mb-4" data-toggle="modal"
                    data-target="#modal_crear_user" href="#"><i
                    class="fa fa-lg fa-user"></i>&nbsp;&nbsp;Agregar Usuario
            </button>

            <!--PANEL MANTENEDOR DE USUARIOS-->
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Mantenedor de Usuarios</h4>
                </div>

                <div class="card-body p-1">

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active p-2" id="home-tab" data-toggle="tab" href="#productores"
                               role="tab"
                               aria-controls="home" aria-selected="true">Productores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-2" id="clientes_externos_tab" data-toggle="tab"
                               href="#clientes_externos"
                               role="tab"
                               aria-controls="clientes_externos" aria-selected="false">Clientes Externos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-2" id="comerciantes-tab" data-toggle="tab" href="#comerciantes"
                               role="tab"
                               aria-controls="comerciantes" aria-selected="false">Comerciantes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-2" id="transportistas-tab" data-toggle="tab" href="#transportistas"
                               role="tab"
                               aria-controls="transportistas" aria-selected="false">Transportistas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-2" id="consultores-tab" data-toggle="tab" href="#consultores"
                               role="tab"
                               aria-controls="consultores" aria-selected="false">Consultores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-2" id="todos-tab" data-toggle="tab" href="#todos" role="tab"
                               aria-controls="todos" aria-selected="false">Todos</a>
                        </li>
                    </ul>

                    <div class="tab-content p-1" id="UserTabContent">
                        <div class="tab-pane fade show active" id="productores" role="tabpanel"
                             aria-labelledby="home-tab">
                            <div class="col-12 p-2">
                                <div class="table-responsive">
                                    <table id="lista_productores" class="table table-bordered text-center"
                                           style="width: 100%">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nombre</th>
                                            <th>Rol</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="clientes_externos" role="tabpanel"
                             aria-labelledby="clientes_externos_tab">
                            <div class="col-12 p-2">
                                <div class="table-responsive">
                                    <table id="lista_clientes_externos"
                                           class="table table-bordered text-center display"
                                           style="width:100%">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nombre</th>
                                            <th>Rol</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="comerciantes" role="tabpanel" aria-labelledby="comerciantes-tab">
                            <div class="col-12 p-2">
                                <div class="table-responsive">
                                    <table id="lista_comerciantes"
                                           class="table table-bordered text-center display"
                                           style="width:100%">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nombre</th>
                                            <th>Rol</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="transportistas" role="tabpanel"
                             aria-labelledby="transportistas-tab">
                            <div class="col-12 p-2">
                                <div class="table-responsive">
                                    <table id="lista_transportistas"
                                           class="table table-bordered text-center display" style="width: 100%">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nombre</th>
                                            <th>Rol</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="consultores" role="tabpanel" aria-labelledby="consultores-tab">
                            <div class="col-12 p-2">
                                <div class="table-responsive">

                                    <table id="lista_consultores"
                                           class="table table-bordered text-center display" style="width: 100%">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nombre</th>
                                            <th>Rol</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="todos" role="tabpanel" aria-labelledby="todos-tab">
                            <div class="col-12 p-2">
                                <div class="table-responsive">
                                    <table id="lista_todos" class="table table-bordered text-center display"
                                           style="width: 100%">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nombre</th>
                                            <th>Rol</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Right Panel -->

<div class="animated">
    <div class="modal fade" id="modal_activar_usuario" tabindex="-1" role="dialog"
         aria-labelledby="modal_activar_usuario_label"
         aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_activar_usuario_label">¿Activar Usuario?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <form action="" id="form_activar_usuario">
                        <input type="hidden" name="id_usuario_activar" id="id_usuario_activar">
                        <input type="hidden" name="id_tipo_usuario_activar" id="id_tipo_usuario_activar">
                        <button type="button" id="cerrar_modal_activar" class="btn btn-secondary" data-dismiss="modal">
                            Cancelar
                        </button>
                        <button type="submit" class="btn btn-success">Confirmar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_desactivar_usuario" tabindex="-1" role="dialog"
         aria-labelledby="modal_desactivar_usuario_label"
         aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_desactivar_usuario_label">¿Desactivar Usuario?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <form action="" id="form_desactivar_usuario">
                        <input type="hidden" name="id_usuario_desactivar" id="id_usuario_desactivar">
                        <input type="hidden" name="id_tipo_usuario_desactivar" id="id_tipo_usuario_desactivar">
                        <button type="button" id="cerrar_modal_desactivar" class="btn btn-secondary"
                                data-dismiss="modal">Cancelar
                        </button>
                        <button type="submit" class="btn btn-danger">Confirmar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_editar_user" tabindex="-1" role="dialog" aria-labelledby="modal_editar_userLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_editar_userLabel">Editar Usuario</h5>
                    <button type="button" id="cerrar_modal_editar" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-12 p-2">
                        <div class="card">
                            <form action="" id="form_modificar_usuario" method="post" novalidate="novalidate">

                                <div class="card-body p-2 p-sm-3">
                                    <input type="hidden" name="id_usuario" id="id_usuario">
                                    <div class="form-group has-success">
                                        <label for="id_nombre_usuario" class="control-label mb-1">Nombre</label>
                                        <input type="text" name="nombre_usuario"
                                               class="textinput textInput form-control"
                                               id="id_nombre_usuario">
                                    </div>
                                    <div class="form-group has-success">
                                        <label for="id_apellido_usuario"
                                               class="control-label mb-1">Apellidos</label>
                                        <input type="text" name="apellido_usuario"
                                               class="textinput textInput form-control"
                                               id="id_apellido_usuario">
                                    </div>
                                    <div class="form-group has-success">
                                        <label for="id_correo_usuario" class="control-label mb-1">Correo
                                            Electronico</label>
                                        <input type="text" name="correo_usuario"
                                               class="textinput textInput form-control"
                                               id="id_correo_usuario" disabled>
                                    </div>
                                    <div class="form-group has-success">
                                        <label for="id_rol_usuario" class="control-label mb-1">Rol</label>
                                        <input type="text" name="rol_usuario"
                                               class="textinput textInput form-control"
                                               id="id_rol_usuario" disabled>
                                    </div>
                                    <input type="hidden" name="usuario_es_activo" id="usuario_es_activo">

                                    <div class="card p-2" id="contrato_productores">
                                        <div class="card-header">
                                            <h5 class="text-center">Contrato (Solo productores)</h5>
                                        </div>
                                        <div class="row py-4">
                                            <div class="col-12 text-center">
                                                <table class="table table-sm table-borderless my-3">
                                                    <tbody>
                                                    <tr>
                                                        <td>Estado</td>
                                                        <td><span class="badge p-2" id="estado_contrato"></span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Fecha vigencia</td>
                                                        <td><span class="p-2" id="rango_contrato"></span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>


                                            <div class="col-12">
                                                <div class="btn-group d-flex" role="group" aria-label="...">
                                                    <button id="btnActivarAnularContrato" type="button"
                                                            class="btn border-dark btn-sm w-100">
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="btn-group d-flex" role="group" aria-label="...">
                                        <button type="button" onclick="limpiarCampos();"
                                                class="btn btn-outline-dark btn-sm w-100">Limpiar
                                            campos
                                        </button>
                                        <button type="submit" class="btn btn-warning border-dark w-100 btn-sm">
                                            Actualizar
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_crear_user" tabindex="-1" role="dialog" aria-labelledby="modal_crear_userLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_crear_userLabel">Agregar Usuario</h5>
                    <button type="button" class="close" id="cerrar_modal_crear" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="login-form">
                        <form action="{% url 'sign_up_admin/frame' %}" id="form_crear_usuario" method="post">
                            {% csrf_token %}
                            {% load crispy_forms_tags %}
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-primary">Crear usuario</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .animated -->

<script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendors/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'vendors/jqvmap/dist/jquery.vmap.min.js' %}"></script>
<script src="{% static 'vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
<script src="{% static 'vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>

<script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
<script src="{% static 'assets/js/init-scripts/data-table/datatables-init.js' %}"></script>
<script src="{% static 'assets/js/mantenedor.js' %}"></script>
</body>

</html>