{% load static %}

<!doctype html>
<html class="no-js" lang="es">
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""><![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""><![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""><![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Feria Virtual</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/selectFX/css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/jqvmap/dist/jqvmap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style_home.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <base href="{% url 'index' %}" target="_PARENT">
</head>

<body>

<!-- Header-->
<div id="right-panel" class="right-panel">
    <header id="header" class="header">
        <div class="header-menu">
            <div class="col-12">
                <div class="float-right pl-2">
                    {% if user.is_authenticated %}
                        <i class="fa fa-shopping-cart" style="color: slategrey"></i>
                        <a href="{% url 'cart' %}">Carro </a>
                        <i class="fa fa-user" style="color: slategrey"></i>
                        <p class="text-capitalize d-inline h6 mr-xl-5 p-1">
                            Bienvenido {{ user.first_name }}
                        </p>
                        <a class="btn btn-link btn-sm p-1" href="{% url 'log_out' %}" style="color: red"><i
                                class="fa fa-close mx-2" style="color: red"></i>Cerrar sesion</a>
                    {% else %}
                        <a class="btn btn-primary btn-sm p-1" href="{% url 'sign_up' %}">Registrarte</a>
                        <a class="btn btn-success btn-sm p-1" href="{% url 'log_in' %}">Iniciar Sesion</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <div style="max-width: 90%; margin: auto">
        <br>
        <!-- Title -->
        <h1 class="display-4">Productos</h1>

        <!-- Message -->
        <div class="mensajes">
        </div>

        <!-- Products -->
        <br>
        <div class="card-columns">
            {% for p in products %}
                <form action="{% url 'add_to_cart' %}" method="post">
                    {% csrf_token %}
                    <div class="card p-3">
                        <img class="card-img-top" src="{% get_media_prefix %}{{ p.producto.imagen_producto }}">
                        <div class="card-body">
                            <h3 class="card-title">{{ p.producto.nombre_producto }}
                                <span class="badge badge-info">$ {{ p.precio_unitario }}</span>
                            </h3>
                            <input type="number" value="1" min="1" max="{{ p.cantidad }}" name="quantity">
                            <label for="quantity">{{ p.unidad }}</label>
                            <input type="text" value="{{ p.id }}" name="productor" hidden>
                            <input type="text" value="{{ p.producto_id }}" name="product" hidden>
                            <input type="text" value="{{ p.precio_unitario }}" name="price" hidden>
                            <input type="text" value="{{ p.unidad }}" name="unidad" hidden>
                            <button type="submit" class="btn btn-primary float-right">Agregar
                            </button>
                        </div>
                    </div>
                </form>
            {% endfor %}
        </div>

        {% if not products %}
            <br>
            <div class="alert alert-primary" role="alert">
                Actualmente no hay productos a la venta :(
            </div>
        {% endif %}
    </div>
</div>

<!-- Scripts -->
<script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendors/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'vendors/jqvmap/dist/jquery.vmap.min.js' %}"></script>
<script src="{% static 'vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
<script src="{% static 'vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>

<!-- Mensajes -->
{% if messages %}
    {% for message in messages %}
        <script>
            $('.mensajes').append(MensajeRespuesta('alert-success', '{{ message }}'));
        </script>
    {% endfor %}
{% endif %}

</body>
</html>
