{% load static %}
<!doctype html>
<html class="no-js" lang="es">
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""><![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""><![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""><![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Feria Virtual</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="apple-touch-icon" href="{% static 'images/apple-icon.png' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/selectFX/css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/jqvmap/dist/jqvmap.min.css' %}">

    <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-select.min.css' %}">


    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style_mis_productos.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <base href="{% url 'index' %}" target="_PARENT">
</head>

<body>

<!-- Right Panel -->
<div id="right-panel" class="right-panel">

    <!-- Header-->
    <header id="header" class="header">
        <div class="header-menu">
            <div class="col-12">
                <div class="float-right pl-2">
                    {% if user.is_authenticated %}
                        <i class="fa fa-user" style="color: slategrey"></i>
                        <p class="text-capitalize d-inline h6 mr-xl-5 p-1">
                            {% if user.is_staff %}
                                Bienvenido Administrador
                            {% elif user.user_type == 2 %}
                                Bienvenido Comerciante
                            {% else %}
                                Bienvenido {{ user.get_user_type_display | lower }}
                            {% endif %}
                        </p>
                        <a class="btn btn-link btn-sm p-1" href="{% url 'log_out' %}" style="color: red"><i
                                class="fa fa-close mx-2" style="color: red"></i>Cerrar sesión</a>
                    {% else %}
                        <a class="btn btn-primary btn-sm p-1" href="{% url 'sign_up' %}">Registrarte</a>
                        <a class="btn btn-success btn-sm p-1" href="{% url 'log_in' %}">Iniciar Sesion</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <div class="content mt-2 p-2">
        <div class="mensajes" id="mensajes">
        </div>

        {% if messages %}
            <div class="row">
                <div class="col-12">
                    {% for message in messages %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>{{ message }}</strong>
                            <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="card">
            <div class="card-header bg-white">
                <h4 class="text-center">Mis productos</h4>
            </div>
        </div>
        <button type="button" class="btn btn-success btn-sm-block mb-4" data-toggle="modal"
                data-target="#modal_crear_producto" href="#"><i
                class="fa fa-lg fa-plus-circle"></i>&nbsp;&nbsp;Agregar Producto
        </button>

        <div class="card">
            <div class="card-body p-2 p-sm-3">
                <div class="table-responsive">
                    <table id="lista_productos_productor" class="table table-bordered text-center"
                           style="width: 100%">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Precio unitario</th>
                            <th>Cantidad (kg)</th>
                            <th>Calidad</th>
                            <th></th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal_crear_producto" tabindex="-1" role="dialog"
             aria-labelledby="modal_crear_producto_label"
             aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal_crear_producto_label">Agregar un nuevo producto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="" method="post" novalidate="novalidate" name="form_agregar_nuevo_producto"
                          id="form_agregar_nuevo_producto">
                        <div class="modal-body">
                            <div class="row form-group">
                                <div class="col-12 col-sm-6">
                                    <label for="id_producto_productor" class="control-label mb-1">Nombre
                                        producto</label>
                                    <select name="producto_productor" id="id_producto_productor"
                                            class="selectpicker form-control" data-live-search="true">
                                        <option value="default" disabled selected>--Seleccionar--</option>
                                    </select>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label for="id_precio_unitario_nuevo_producto"
                                           class="control-label mb-1">Precio (kg)</label>
                                    <input type="number" min="0" name="precio_unitario_nuevo_producto"
                                           class="textinput textInput form-control"
                                           id="id_precio_unitario_nuevo_producto">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-12 col-sm-6">
                                    <label for="id_cantidad_nuevo_producto" class="control-label mb-1">Cantidad
                                        (kg)</label>
                                    <input type="number" min="0" name="cantidad_nuevo_producto"
                                           class="textinput textInput form-control"
                                           id="id_cantidad_nuevo_producto">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label for="id_calidad_nuevo_producto" class="control-label mb-1">Calidad</label>
                                    <select class="form-control" name="calidad_nuevo_producto"
                                            id="id_calidad_nuevo_producto">
                                        <option disabled selected>--Seleccionar--</option>
                                        <option value="1">Alta</option>
                                        <option value="2">Media</option>
                                        <option value="3">Baja</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-success">Confirmar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal_modificar_producto" tabindex="-1" role="dialog"
             aria-labelledby="modal_modificar_producto_label"
             aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal_modificar_producto_label">Modificar producto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="" method="post" novalidate="novalidate" name="form_modificar_producto"
                          id="form_modificar_producto">
                        <div class="modal-body">

                            <div class="col-12 my-2 text-center">
                                <img src="" alt="" class="img-fluid img-thumbnail" id="imagen_producto_muestra"
                                     style="max-width: 300px;">
                            </div>

                            <div class="row form-group">
                                <div class="col-12 col-sm-6">
                                    <label for="id_nombre_modificar_producto" class="control-label mb-1">Nombre
                                        producto</label>
                                    <select name="producto" id="id_nombre_modificar_producto"
                                            class="selectpicker form-control" data-live-search="true"
                                    > </select>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label for="id_precio_unitario_modificar_producto"
                                           class="control-label mb-1">Precio</label>
                                    <input type="number" min="0" name="precio_unitario"
                                           class="textinput textInput form-control"
                                           id="id_precio_unitario_modificar_producto">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-12 col-sm-6">
                                    <label for="id_cantidad_modificar_producto"
                                           class="control-label mb-1">Cantidad</label>
                                    <input type="number" min="0" name="cantidad"
                                           class="textinput textInput form-control"
                                           id="id_cantidad_modificar_producto">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label for="id_calidad_modificar_producto"
                                           class="control-label mb-1">Calidad</label>
                                    <select class="form-control" name="calidad"
                                            id="id_calidad_modificar_producto">
                                        <option disabled selected>--Seleccionar--</option>
                                        <option value="1">Alta</option>
                                        <option value="2">Media</option>
                                        <option value="3">Baja</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-success">Confirmar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <!-- MODAL ELIMINAR PRODUCTO -->
        <div id="modal_eliminar_producto" class="modal fade" aria-modal="true">
            <div class="modal-dialog modal-confirm modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">¿Está seguro?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Realmente quieres borrar estos registros? Este proceso no puede deshacer.</p>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger" id="btn_eliminar_producto">Borrar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Right Panel -->
<!-- .animated -->
<script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendors/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'vendors/jqvmap/dist/jquery.vmap.min.js' %}"></script>
<script src="{% static 'vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
<script src="{% static 'vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
<script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap-select.js' %}"></script>
<script src="{% static 'assets/js/productor_mis_productos.js' %}"></script>
</body>

</html>