{% load static %}

<!doctype html>
<html class="no-js" lang="es">
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""><![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""><![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""><![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Feria Virtual</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/selectFX/css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/jqvmap/dist/jqvmap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style_home.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
</head>

<body class="bg-dark">

<!-- Right Panel -->
<div class="login-content">
    <div class="login-logo">
        <img class="align-content logo-content" src="../static/images/logo.png" alt="Feria Virtual">
        <span>Trabaja con nosotros!</span>
    </div>
    <div class="login-form">
        <form action="{% url 'sign_up_transportista/frame' %}" method="post">
            {% csrf_token %}
            {% load crispy_forms_tags %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30 my-3">Enviar Solicitud</button>
        </form>
    </div>
</div>

<!-- Scripts -->
<script src={% static 'vendors/jquery/dist/jquery.min.js' %}></script>
<script src={% static 'vendors/popper.js/dist/umd/popper.min.js' %}></script>
<script src={% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}></script>
<script src={% static 'assets/js/main.js' %}></script>
</body>
</html>
