{% load static %}

<!doctype html>
<html class="no-js" lang="es">
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""><![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""><![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""><![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Feria Virtual</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/selectFX/css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/jqvmap/dist/jqvmap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style_home.css' %}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <base href="{% url 'index' %}" target="_PARENT">
</head>

<body>

<!-- New Address Modal -->
<div class="modal fade" tabindex="-1" id="newaddress">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nueva Dirección</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'address' %}" method="post">
                    {% csrf_token %}
                    <label for="exampleFormControlInput1">Ubicación</label>
                    <div class="form-row">
                        <div class="col">
                            <input type="text" class="form-control" name="street" id="street" placeholder="Calle">
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" name="number" id="number" placeholder="Número">
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Región</label>
                        <select class="form-control" name="region" id="regiones"></select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Comuna</label>
                        <select class="form-control" name="comuna" id="comunas"></select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Header-->
<div id="right-panel" class="right-panel">
    <header id="header" class="header">
        <div class="header-menu">
            <div class="col-12">
                <div class="float-right pl-2">
                    {% if user.is_authenticated %}
                        <i class="fa fa-user" style="color: slategrey"></i>
                        <p class="text-capitalize d-inline h6 mr-xl-5 p-1">
                            {% if user.is_staff %}
                                Bienvenido Administrador
                            {% elif user.user_type == 2 %}
                                Bienvenido Comerciante
                            {% else %}
                                Bienvenido {{ user.get_user_type_display | lower }}
                            {% endif %}
                        </p>
                        <a class="btn btn-link btn-sm p-1" href="{% url 'log_out' %}" style="color: red"><i
                                class="fa fa-close mx-2" style="color: red"></i>Cerrar sesión</a>
                    {% else %}
                        <a class="btn btn-primary btn-sm p-1" href="{% url 'sign_up' %}">Registrarte</a>
                        <a class="btn btn-success btn-sm p-1" href="{% url 'log_in' %}">Iniciar Sesion</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <br>
    <div style="max-width: 80%; margin: auto">

        <!-- Breadcrumbs -->
        <br>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><i class="fa fa-map-pin mx-2"></i>Despacho</li>
                <li class="breadcrumb-item"><i class="fa fa-credit-card mx-2"></i>Pago</li>
                <li class="breadcrumb-item"><i class="fa fa-bookmark mx-2"></i>Finalizar</li>
            </ol>
        </nav>

        <!-- Title -->
        <h1 class="display-4">Despacho</h1>
        <p class="lead">Agrega o utiliza una dirección guardada</p>

        <!-- Message -->
        <div class="mensajes"></div>

        <!-- Direcciones Guardadas -->
        <br>
        {% for a in address %}
            <form action="{% url 'update_order_address' %}" method="post">
                {% csrf_token %}
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="card-title">{{ a.street }} #{{ a.number }}</h5>
                            <input type="submit" class="btn btn-light fa" name="delete" value="&#xf014">
                        </div>
                        <p class="card-text">{{ a.region }}, {{ a.comuna }}</p>
                        <input type="text" name="address" value="{{ a.address_id }}" hidden>
                        <input type="submit" class="btn btn-primary" name="add_address" value="Usar">
                    </div>
                </div>
            </form>
        {% endfor %}

        <!-- Agregar -->
        <br>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newaddress">Nueva Dirección
        </button>
        <br>
    </div>
</div>

<script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendors/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'vendors/jqvmap/dist/jquery.vmap.min.js' %}"></script>
<script src="{% static 'vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
<script src="{% static 'vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>

<script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap-select.js' %}"></script>
<script src="{% static 'assets/js/shipping.js' %}"></script>

<!-- Mensajes -->
{% if messages %}
    {% for message in messages %}
        <script>
            $('.mensajes').append(MensajeRespuesta('alert-info', '{{ message }}'));
        </script>
    {% endfor %}
{% endif %}

</body>
</html>
