{% load static %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{{ form.media }}            {# Adds date-picker required JS and CSS #}

<!doctype html>
<html class="no-js" lang="es">
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""><![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""><![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""><![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Feria Virtual</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/selectFX/css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/jqvmap/dist/jqvmap.min.css' %}">

    <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}">


    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <base href="{% url 'index' %}" target="_PARENT">
</head>

<body>

<!-- Right Panel -->
<div id="right-panel" class="right-panel">
    <!-- Header-->
    <header id="header" class="header">
        <div class="header-menu">
            <div class="col-12 my-2">
                <div class="float-right">
                    {% if user.is_authenticated %}
                        <i class="fa fa-user" style="color: slategrey"></i>
                        <p class="text-capitalize d-inline h6 mr-xl-5 p-1">
                            {% if user.is_staff %}
                                Bienvenido Administrador
                            {% elif user.user_type == 2 %}
                                Bienvenido Comerciante
                            {% else %}
                                Bienvenido {{ user.get_user_type_display | lower }}
                            {% endif %}
                        </p>
                        <a class="btn btn-link btn-sm p-1" href="{% url 'log_out' %}" style="color: red"><i
                                class="fa fa-close mx-2" style="color: red"></i>Cerrar sesión</a>
                    {% else %}
                        <a class="btn btn-primary btn-sm p-1" href="{% url 'sign_up' %}">Registrarte</a>
                        <a class="btn btn-success btn-sm p-1" href="{% url 'log_in' %}">Iniciar Sesion</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <div class="content mt-2 p-2">
        <div class="mensajes">
        </div>
        {% if messages %}
            <div class="row">
                <div class="col-12">
                    {% for message in messages %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>{{ message }}</strong>
                            <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Subastas</h4>
                </div>


                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active p-2" id="home-tab" data-toggle="tab"
                               href="#subastas"
                               role="tab"
                               aria-controls="home" aria-selected="true">Todas las subastas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-2" id="subastas_en_curso_tab" data-toggle="tab"
                               href="#subastas_en_curso"
                               role="tab"
                               aria-controls="subastas_en_curso" aria-selected="false">Subastas en curso</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-2" id="subastas_finalizadas_tab" data-toggle="tab"
                               href="#subastas_finalizadas"
                               role="tab"
                               aria-controls="subastas_finalizadas" aria-selected="false">Subastas finalizadas</a>
                        </li>
                    </ul>

                    <div class="tab-content p-1 mt-4" id="UserTabContent">
                        <div class="tab-pane fade show active" id="subastas" role="tabpanel"
                             aria-labelledby="home-tab" onclick=RecargarTablasAdmin()>
                            <div class="col-12 p-2">
                                <div class="card">
                                    <button type="button" class="btn btn-success btn-sm-block mb-4" data-toggle="modal"
                                            data-target="#modal_crear_subasta" href="#"><i
                                            class="fa fa-lg fa-plus-circle center"></i> Crear subasta
                                    </button>
                                    <div class="card-body p-2 p-sm-3">
                                        <div class="table-responsive">
                                            <table id="lista_subastas_admin"
                                                   class="table table-bordered text-center"
                                                   style="width: 100%">
                                                <thead>
                                                <tr>
                                                    <th>Codigo subasta</th>
                                                    <th>Codigo proceso</th>
                                                    <th>Direccion de retiro</th>
                                                    <th>Direccion de entrega</th>
                                                    <th>Finaliza en:</th>
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="subastas_en_curso" role="tabpanel"
                             aria-labelledby="subastas_en_curso_tab">
                            <div class="col-12 p-2">
                                <div class="card">
                                    <div class="card-body p-2 p-sm-3">
                                        <div class="table-responsive">
                                            <table id="lista_subastas_en_curso"
                                                   class="table table-bordered text-center display"
                                                   style="width:100%">
                                                <thead>
                                                <tr>
                                                    <th>Codigo subasta</th>
                                                    <th>Codigo proceso</th>
                                                    <th>Direccion de retiro</th>
                                                    <th>Direccion de entrega</th>
                                                    <th>Finaliza en:</th>
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="subastas_finalizadas" role="tabpanel"
                             aria-labelledby="subastas_finalizadas_tab">
                            <div class="col-12 p-2">
                                <div class="card">
                                    <div class="card-body p-2 p-sm-3">
                                        <div class="table-responsive">
                                            <table id="lista_subastas_finalizadas"
                                                   class="table table-bordered text-center display"
                                                   style="width:100%">
                                                <thead>
                                                <tr>
                                                    <th>Codigo subasta</th>
                                                    <th>Codigo proceso</th>
                                                    <th>Direccion de retiro</th>
                                                    <th>Direccion de entrega</th>
                                                    <th>Estado de la subasta</th>
                                                    <th>Transportista asignado</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
    </div>


    <!-- Right Panel -->
    <!-- .animated -->
    <div class="animated">
        <div class="modal fade" id="modal_crear_subasta" tabindex="-1" role="dialog"
             aria-labelledby="modal_crear_subastaLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal_crear_subastaLabel">Crear subasta</h5>
                        <button type="button" class="close" id="cerrar_modal_crear" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'crear_subasta/frame' %}" id="form_crear_subasta" method="post">
                            {% csrf_token %}
                            {% load crispy_forms_tags %}
                            {{ form|crispy }}
                            <button type="submit" id="my_submit"
                                    onclick='return EstadoProcesoCrearSubasta($("#id_proceso").val())'
                                    class="btn btn-primary">Crear subasta
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal_ver_ofertas" tabindex="-1" role="dialog"
             aria-labelledby="modal_ver_ofertasLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal_ver_ofertasLabel">Ofertas de subasta</h5>
                        <button type="button" class="close" id="cerrar_modal_ver_ofertas" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table id="table_ofertas_subasta"
                                   class="table table-bordered text-center display"
                                   style="width:100%">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Transportista</th>
                                    <th>Oferta</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal_contactar" tabindex="-1" role="dialog"
             aria-labelledby="modal_contactarLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal_contactarLabel">Contactar transportista</h5>
                        <button type="button" class="close" id="cerrar_contactar" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <form action="admin/subastas/contactar/frame" id="contactar" method="POST" target="_self">
                                {% csrf_token %}
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text">Email transportista: </span>
                                    <input type="text" class="form-control" aria-label="Email"
                                           aria-describedby="email" name="email" id="email_transportista"
                                           readonly="readonly" style="color: #787878;">
                                </div>
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="asunto">Asunto del mensaje: </span>
                                    <input type="text" class="form-control" aria-label="Asunto"
                                           aria-describedby="asunto" name="asunto">
                                </div>
                                <div class="form-floating">
                                    <label for="mensaje">Mensaje: </label>
                                    <textarea class="form-control" placeholder="Escribe el mensaje aquí"
                                              id="mensaje" name="mensaje" style="height: 200px"></textarea>
                                </div>

                                <button type="submit" class="btn btn-primary">Enviar correo</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="modal_asignar" tabindex="-1" role="dialog"
             aria-labelledby="modal_asignarLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal_asignarLabel">Asignar transportista</h5>
                        <button type="button" class="close" id="cerrar_asignar" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" novalidate="novalidate" name="form_proceso_venta"
                              id="form_proceso_venta">
                            <h5 id="proceso_title" class="text-center">Proceso </h5>
                            <div class="row form-group">
                                <div class="col-12 col-sm-12">
                                    <label for="id_estado_proceso"
                                           class="control-label mb-1">Estado del proceso:</label>
                                    <input type="text" name="estado_proceso"
                                           class="textinput textInput form-control"
                                           id="id_estado_proceso" disabled>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-12 col-sm-6">
                                    <label for="id_fecha_creacion_proceso"
                                           class="control-label mb-1">Fecha de creacion:</label>
                                    <input type="text" name="fecha_creacion_proceso"
                                           class="textinput textInput form-control"
                                           id="id_fecha_creacion_proceso" disabled>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label for="id_fecha_termino_proceso"
                                           class="control-label mb-1">Fecha de termino:</label>
                                    <input type="text" name="fecha_termino_proceso"
                                           class="textinput textInput form-control"
                                           id="id_fecha_termino_proceso" disabled>
                                </div>
                            </div>

                            <h5 id="subasta_title" class="text-center">Subasta</h5>
                            <div class="row form-group">
                                <div class="col-12 col-sm-6">
                                    <input type="hidden" name="fecha_creacion_subasta"
                                           class="textinput textInput form-control"
                                           id="id_fecha_creacion_subasta">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="hidden" name="fecha_termino_subasta"
                                           class="textinput textInput form-control"
                                           id="id_fecha_termino_subasta">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-12 col-sm-12">
                                    <label for="id_direccion_retiro"
                                           class="control-label mb-1">Direccion de retiro:</label>
                                    <input type="text" name="direccion_retiro_subasta"
                                           class="textinput textInput form-control"
                                           id="id_direccion_retiro_subasta" disabled>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-12 col-sm-12">
                                    <label for="id_direccion_entrega"
                                           class="control-label mb-1">Direccion de entrega:</label>
                                    <input type="text" name="direccion_entrega_subasta"
                                           class="textinput textInput form-control"
                                           id="id_direccion_entrega_subasta" disabled>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-12 col-sm-6">
                                    <label for="id_estado_subasta"
                                           class="control-label mb-1">Estado de subasta:</label>
                                    <input type="text" name="estado_subasta_subasta"
                                           class="textinput textInput form-control"
                                           id="id_estado_subasta_subasta" disabled>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label for="id_proceso_subasta"
                                           class="control-label mb-1">Codigo de proceso asociado:</label>
                                    <input type="text" name="proceso_subasta"
                                           class="textinput textInput form-control"
                                           id="id_proceso_subasta" disabled>
                                </div>
                            </div>


                            <h5 id="transportista_title" class="text-center">Transportista asignado</h5>
                            <div class="row form-group">
                                <div class="col-12 col-sm-12">
                                    <label for="id_nombre_transportista"
                                           class="control-label mb-1">Nombre:</label>
                                    <input type="text" name="nombre_transportista"
                                           class="textinput textInput form-control"
                                           id="id_nombre_transportista" disabled>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-12 col-sm-12">
                                    <label for="id_correo_transportista"
                                           class="control-label mb-1">Email:</label>
                                    <input type="text" name="correo_transportista"
                                           class="textinput textInput form-control"
                                           id="id_correo_transportista" disabled>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-12 col-sm-12">
                                    <label for="id_valor_puja_transportista"
                                           class="control-label mb-1">Valor de la oferta:</label>
                                    <input type="text" name="valor_puja_transportista"
                                           class="textinput textInput form-control"
                                           id="id_valor_puja_transportista" disabled>
                                </div>
                            </div>
                            <br>
                            <div class="col-12 col-sm-12">
                                <button type="submit" class="btn btn-success" style="float: right;">Asignar
                                    transportista
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendors/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'vendors/jqvmap/dist/jquery.vmap.min.js' %}"></script>
    <script src="{% static 'vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
    <script src="{% static 'vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>

    <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'assets/js/init-scripts/data-table/datatables-init.js' %}"></script>
    <script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
            integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
            crossorigin="anonymous"></script>

    <script src="{% static 'assets/js/subastas.js' %}"></script>


    <script>
        jQuery("#form_contactar").submit(function (event) {
            event.preventDefault();
            jQuery(".mensajes").append("<div class=\"row\">\n" +
                "    <div class=\"col-12\">\n" +
                "        <div id=\"success-alert\" class=\"alert alert-success alert-dismissible fade show\" role=\"alert\">\n" +
                "            Puja en la subasta<strong> #" + ' realizada con exito. Serás contactado por correo ' +
                'electrónico si tu oferta es aceptada.' + "\n" +
                "            <button aria-label=\"Close\" class=\"close\" data-dismiss=\"alert\" type=\"button\">\n" +
                "                <span aria-hidden=\"true\">&times;</span>\n" +
                "            </button>\n" +
                "        </div>\n" +
                "    </div>\n" +
                "</div>");
        });


        function Actualizar_Subasta_Finalizada_Admin(id_subasta) {

            var settings = {
                "url": "/api/subastas_admin/" + id_subasta + "/update_finalizar/",
                "method": "PUT",
                "cache": false,
                "contentType": false,
                "processData": false,

                "beforeSend": function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                "failure": function (data) {
                    alert('Got an error');
                }
            };

            jQuery.ajax(settings).done(function (response) {
                RecargarTablasAdmin();
            });

        }

        ListarSubastasAdmin();
        ListarSubastasEnCursoAdmin();
        ListarSubastasFinalizadasAdmin();

    </script>

</body>

</html>
