{% load static %}

<!doctype html>
<html class="no-js" lang="es">
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""><![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""><![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""><![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Feria Virtual</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/selectFX/css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/jqvmap/dist/jqvmap.min.css' %}">

    <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}">


    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style_mantenedor.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <base href="{% url 'index' %}" target="_PARENT">
</head>

<body>

<!-- Right Panel -->
<div id="right-panel" class="right-panel">
    <!-- Header-->
    <header id="header" class="header">
        <div class="header-menu">
            <div class="col-12 my-2">
                <div class="float-right">
                    {% if user.is_authenticated %}
                        <i class="fa fa-user" style="color: slategrey"></i>
                        <p class="text-capitalize d-inline h6 mr-xl-5 p-1">
                            {% if user.is_staff %}
                                Bienvenido Administrador
                            {% elif user.user_type == 2 %}
                                Bienvenido Comerciante
                            {% else %}
                                Bienvenido {{ user.get_user_type_display | lower }}
                            {% endif %}
                        </p>
                        <a class="btn btn-link btn-sm p-1" href="{% url 'log_out' %}" style="color: red"><i
                                class="fa fa-close mx-2" style="color: red"></i>Cerrar sesión</a>
                    {% else %}
                        <a class="btn btn-primary btn-sm p-1" href="{% url 'sign_up' %}">Registrarte</a>
                        <a class="btn btn-success btn-sm p-1" href="{% url 'log_in' %}">Iniciar Sesion</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <div class="content mt-2 p-2">
        <div class="mensajes">
        </div>
        {% if messages %}
            <div class="row">
                <div class="col-12">
                    {% for message in messages %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>{{ message }}</strong>
                            <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="col-12 p-2">
            <div class="card">
                <div class="card-header ">
                    <h4 class="text-center">Subastas</h4>
                </div>
            </div>
            <div class="card-body p-1">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active p-2" id="home-tab" data-toggle="tab"
                           href="#subastas"
                           role="tab"
                           aria-controls="home" aria-selected="true">Subastas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2" id="pujas_transportista_tab" data-toggle="tab"
                           href="#pujas_transportista"
                           role="tab"
                           aria-controls="pujas_transportista" aria-selected="false">Mis pujas</a>
                    </li>
                </ul>
                <div class="tab-content p-1 mt-4" id="UserTabContent">
                    <div class="tab-pane fade show active" id="subastas" role="tabpanel"
                         aria-labelledby="home-tab">
                        <div class="col-12 p-2">
                            <div class="card">
                                <div class="card-body p-2 p-sm-3">
                                    <div class="table-responsive">
                                        <table id="lista_subastas_transportista"
                                               class="table table-bordered text-center"
                                               style="width: 100%">
                                            <thead>
                                            <tr>
                                                <th>Codigo</th>
                                                <th>Direccion de retiro</th>
                                                <th>Direccion de entrega</th>
                                                <th>Fecha límite de entrega</th>
                                                <th>Finaliza en:</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pujas_transportista" role="tabpanel"
                         aria-labelledby="pujas_transportista_tab">
                        <div class="col-12 p-2">
                            <div class="card">
                                <div class="card-body p-2 p-sm-3">
                                    <div class="table-responsive">
                                        <table id="lista_pujas_transportista"
                                               class="table table-bordered text-center display"
                                               style="width:100%">
                                            <thead>
                                            <tr>
                                                <th>Subasta #</th>
                                                <th>Valor de puja</th>
                                                <th>Dir de retiro</th>
                                                <th>Dir de entrega</th>
                                                <th>Fecha límite de entrega</th>
                                                <th>Proceso #</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="animated">
    <div class="modal fade" id="modal_hacer_oferta" tabindex="-1" role="dialog"
         aria-labelledby="modal_hacer_oferta_userLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_hacer_oferta_userLabel">Ofertar en subasta</h5>
                    <button type="button" id="cerrar_modal_hacer_oferta" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-12 p-2">
                        <div class="card">
                            <form action="" id="form_hacer_oferta" name="myForm" method="post">
                                <div class="card-body p-2 p-sm-3">
                                    <div class="form-group has-success">
                                        <label for="codigo_subasta" class="control-label mb-1">Codigo subasta</label>
                                        <input type="text" name="codigo_subasta"
                                               class="textinput textInput form-control"
                                               id="id_codigo_subasta" disabled>
                                    </div>
                                    <div class="form-group has-success">
                                        <input type="hidden" name="codigo_transportista"
                                               class="textinput textInput form-control"
                                               id="id_codigo_transportista" value="{{ user.id }}" disabled>
                                    </div>
                                    <div class="form-group has-success">
                                        <label for="valor_puja" class="control-label mb-1">Valor de la oferta</label>
                                        <input type="text" name="valor_puja"
                                               class="textinput textInput form-control"
                                               id="id_valor_puja" required>
                                    </div>
                                    <input type="hidden" name="estado_postulacion" id="id_estado_postulacion">

                                    <button type="submit" id="enviar_form" class="btn btn-success">
                                        Enviar oferta
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Right Panel -->
<!-- .animated -->


<script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendors/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'vendors/jqvmap/dist/jquery.vmap.min.js' %}"></script>
<script src="{% static 'vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
<script src="{% static 'vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>

<script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
<script src="{% static 'assets/js/init-scripts/data-table/datatables-init.js' %}"></script>
<script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
        integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
        crossorigin="anonymous"></script>

<script src="{% static 'assets/js/subastas.js' %}"></script>

<script>
    jQuery("#form_hacer_oferta").submit(function (event) {
        event.preventDefault();

        var formData = new FormData();
        formData.append('id_subasta', jQuery("#id_codigo_subasta").val());
        formData.append('id_transportista', jQuery("#id_codigo_transportista").val());
        formData.append('valor_puja', jQuery("#id_valor_puja").val());
        formData.append('estado_postulacion', "Pendiente");

        var settings = {
            "url": "/api/pujas/",
            "method": "POST",
            "cache": false,
            "contentType": false,
            "processData": false,
            "data": formData,
            "beforeSend": function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            "failure": function (data) {
                alert('Got an error');
            }
        };
        jQuery.ajax(settings).done(function (response) {
            RecargarTablasTransportista();
            jQuery(".mensajes").append("<div class=\"row\">\n" +
                "    <div class=\"col-12\">\n" +
                "        <div id=\"success-alert\" class=\"alert alert-success alert-dismissible fade show\" role=\"alert\">\n" +
                "            Puja en la subasta<strong> #" + response + ' realizada con exito. Serás contactado por correo' +
                'electrónico si tu oferta es aceptada.' + "\n" +
                "            <button aria-label=\"Close\" class=\"close\" data-dismiss=\"alert\" type=\"button\">\n" +
                "                <span aria-hidden=\"true\">&times;</span>\n" +
                "            </button>\n" +
                "        </div>\n" +
                "    </div>\n" +
                "</div>");
            jQuery("#cerrar_modal_hacer_oferta").click();
        });
    });

    function Actualizar_Subasta_Finalizada(id_subasta) {
        var settings = {
            "url": "/api/subastas_en_curso/" + id_subasta + "/update_finalizar/",
            "method": "PUT",
            "cache": false,
            "contentType": false,
            "processData": false,
            "beforeSend": function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            "failure": function (data) {
                alert('Got an error');
            }
        };

        jQuery.ajax(settings).done(function (response) {
            RecargarTablasTransportista();
        });

    }

</script>


<script>
    ListarSubastasTransportista();
    ListarPujasTransportista();

</script>

</body>

</html>