{% load static %}
<!doctype html>
<html class="no-js" lang="es">
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""><![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""><![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""><![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Feria Virtual</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="apple-touch-icon" href="{% static 'images/apple-icon.png' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/selectFX/css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/jqvmap/dist/jqvmap.min.css' %}">

    <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-select.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style_mis_productos.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <base href="{% url 'index' %}" target="_PARENT">
</head>

<body>
<div id="right-panel" class="right-panel">
    <!-- Header-->
    <header id="header" class="header">
        <div class="header-menu">
            <div class="col-12">
                <div class="float-right pl-2">
                    {% if user.is_authenticated %}
                        <i class="fa fa-user" style="color: slategrey"></i>
                        <p class="text-capitalize d-inline h6 mr-xl-5 p-1">
                            {% if user.is_staff %}
                                Bienvenido Administrador
                            {% elif user.user_type == 2 %}
                                Bienvenido Comerciante
                            {% else %}
                                Bienvenido {{ user.get_user_type_display | lower }}
                            {% endif %}
                        </p>
                        <a class="btn btn-link btn-sm p-1" href="{% url 'log_out' %}" style="color: red"><i
                                class="fa fa-close mx-2" style="color: red"></i>Cerrar sesión</a>
                    {% else %}
                        <a class="btn btn-primary btn-sm p-1" href="{% url 'sign_up' %}">Registrarte</a>
                        <a class="btn btn-success btn-sm p-1" href="{% url 'log_in' %}">Iniciar Sesion</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <div class="content mt-2 p-2">
        {% if messages %}
            <div class="row">
                <div class="col-12">
                    {% for message in messages %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>{{ message }}</strong>
                            <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="card">
            <div class="card-header bg-white">
                <h4 class="text-center">Procesos de Venta Interna</h4>
            </div>
        </div>

        <div class="card">
            <div class="card-body p-2 p-sm-3">
                <div class="table-responsive">
                    <table id="lista_productos_productor" class="table table-bordered text-center"
                           style="width: 100%">
                        <thead>
                        <tr>
                            {% if user.is_staff %}
                                <th>ID Productor</th>
                            {% endif %}
                            <th>ID Producto</th>
                            <th>Nombre Producto</th>
                            <th>Precio unitario</th>
                            <th>Cantidad</th>
                            <th>Calidad</th>
                            <th>Unidad</th>
                            <th>En Venta</th>
                            {% if user.is_staff %}
                                <th>Vender</th>
                            {% endif %}
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Right Panel -->

<script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendors/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'vendors/jqvmap/dist/jquery.vmap.min.js' %}"></script>
<script src="{% static 'vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
<script src="{% static 'vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>

<script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap-select.min.js' %}"></script>

<script>
    function sellProduct(data) {
        jQuery.ajax({
            url: 'venta/interna/' + data + '/update/',
            type: 'PUT',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            success: () => {
                location.reload();
            }
        })
    }

    function change(data) {
        jQuery.ajax({
            url: 'venta/interna/unidad/' + data + '/update/',
            type: 'PUT',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            success: () => {
                location.reload();
            }
        })
    }

    let apicall
    {% if user.is_staff %}
        apicall = '/api/all_products/?format=datatables'
    {% else %}
        apicall = '/api/productor_productos/?format=datatables'
    {% endif %}

    function ListarProductos() {
        jQuery('#lista_productos_productor').DataTable({
            ordering: false,
            info: false,
            serverSide: true,
            scrollCollapse: true,
            paging: false,
            cache: false,
            ajax: apicall,
            columns: [
                {% if user.is_staff %}
                    {
                        "data": "productor",
                        "className": "text-capitalize"
                    },
                {% endif %}
                {
                    "data": "producto.id",
                    "className": "text-capitalize"
                },
                {
                    "data": "producto.nombre_producto",
                    "className": "text-capitalize"
                },
                {
                    "data": "precio_unitario",
                    "className": "text-capitalize"
                },
                {
                    "data": "cantidad",
                    "className": "text-capitalize"
                },
                {
                    "data": "calidad_str",
                    "className": "text-capitalize"
                },
                {
                    "data": {
                        "pk": "pk",
                        "unidad": "unidad"
                    },
                    render: function (data) {
                        return '<button type="button" class="btn btn-success btn-sm" onclick="change(' + data.pk + ')">' +
                            data.unidad + '</button>'
                    }
                },
                {
                    "data": "interna",
                    "className": "text-capitalize"
                },
                {% if user.is_staff %}
                    {
                        "data": "pk",
                        render: function (data) {
                            return '<button type="button" class="btn btn-success btn-sm" onclick="sellProduct(' + data + ')">' +
                                '<i class="fa fa-lg fa-money"></i></button>'
                        }
                    }
                {% endif %}
            ],
            language: {
                url: "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
            }
        })
    }

    jQuery(document).ready(function () {
        ListarProductos()
    })
</script>
</body>
</html>
